* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 1440px;
  height: 1243px;
  background: #faf8ed;
  overflow-x: hidden;
}

.header-logo {
  margin-top: 33px;
  margin-left: 135px;
  width: 98px;
  height: 35px;
}

.header nav {
  font-family: "Poppins-Regular";
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.01em;
  display: flex;
  gap: 36px;
  margin-top: 39px;
  padding-right: 383px;
  padding-left: 72px;
}

.header button {
  box-sizing: border-box;
  width: 170px;
  height: 54px;
  border: 1.4px solid #f66f4d;
  border-radius: 27px;
  text-align: center;
  font-family: "Poppins-Medium";
  font-size: 16px;
  line-height: 16px;
  margin-top: 24px;
  color: #f66f4d;
}

.header a {
  color: #2e476b;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1440px;
  height: 102px;
}

.section h1 {
  width: 457px;
  height: 66px;
  font-family: "Inter-Medium";
  font-size: 56px;
  line-height: 66px;
  color: #2d3134;
  margin-top: 136px;
  margin-bottom: 16px;
}

.section p {
  width: 461px;
  height: 16px;
  font-family: "Inter-Regular";
  font-size: 16px;
  line-height: 16px;
  color: #5b5f62;
  margin-bottom: 28px;
}

.button-london {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: 92px;
  height: 34px;
  background: #2d3134;
  border-radius: 30px;
  font-family: "Poppins-Regular";
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}

.button-cities {
  font-family: "Poppins-Regular";
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #2d3134;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: 100px;
  height: 34px;
  border: 1px solid #3d3d3d;
  border-radius: 30px;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 527px;
  height: 34px;
  gap: 14px;
  margin-bottom: 51px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-one {
  position: relative;
}

.container-one h5 {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 42px;
  height: 24px;
  font-family: "Inter-Medium";
  font-size: 14px;
  line-height: 14px;
  color: #2d3134;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-one h3 {
  position: absolute;
  width: 81px;
  height: 20px;
  left: 24px;
  bottom: 48px;
  font-family: "Inter-Regular";
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.container-one p {
  position: absolute;
  width: 54px;
  height: 14px;
  left: 24px;
  bottom: 24px;
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.container-two {
  position: relative;
}

.container-two h5 {
  position: absolute;
  width: 42px;
  height: 24px;
  left: 34px;
  top: 29px;
  font-family: "Inter-Medium";
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  background: #2d3134;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-two h3 {
  position: absolute;
  width: 81px;
  height: 20px;
  left: 24px;
  bottom: 48px;
  font-family: "Inter-Semibold";
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.container-two p {
  position: absolute;
  width: 54px;
  height: 14px;
  left: 24px;
  bottom: 24px;
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.container-three {
  position: relative;
}

.container-three h5 {
  position: absolute;
  width: 42px;
  height: 24px;
  left: 34px;
  top: 29px;
  font-family: "Inter-Medium";
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  background: #2d3134;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-three h3 {
  position: absolute;
  width: 81px;
  height: 20px;
  left: 24px;
  bottom: 48px;
  font-family: "Inter-Semibold";
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.container-three p {
  position: absolute;
  width: 54px;
  height: 14px;
  left: 24px;
  bottom: 24px;
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.container-four {
  position: relative;
}

.container-four h5 {
  position: absolute;
  top: 16px;
  left: 24px;
  width: 42px;
  height: 24px;
  font-family: "Inter-Medium";
  font-size: 14px;
  line-height: 14px;
  color: #2d3134;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-four h3 {
  position: absolute;
  width: 81px;
  height: 20px;
  left: 24px;
  bottom: 48px;
  font-family: "Inter-Regular";
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.container-four p {
  position: absolute;
  width: 54px;
  height: 14px;
  left: 24px;
  bottom: 24px;
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.container-five {
  position: relative;
}

.container-five h5 {
  position: absolute;
  width: 42px;
  height: 24px;
  left: 34px;
  top: 29px;
  font-family: "Inter-Medium";
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  background: #2d3134;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-five h3 {
  position: absolute;
  width: 81px;
  height: 20px;
  left: 24px;
  bottom: 48px;
  font-family: "Inter-Semibold";
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.container-five p {
  position: absolute;
  width: 54px;
  height: 14px;
  left: 24px;
  bottom: 24px;
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.container-six {
  position: relative;
}

.container-six h5 {
  position: absolute;
  width: 42px;
  height: 24px;
  left: 34px;
  top: 29px;
  font-family: "Inter-Medium";
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  background: #2d3134;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-six h3 {
  position: absolute;
  width: 81px;
  height: 20px;
  left: 24px;
  bottom: 48px;
  font-family: "Inter-Semibold";
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.container-six p {
  position: absolute;
  width: 54px;
  height: 14px;
  left: 24px;
  bottom: 24px;
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "First Second Second Third Third"
    "Fourth Second Second Fifth Sixth";
  padding: 0 135px;
  gap: 13px 30px;
  align-items: center;
}

.container-one {
  grid-area: First;
}

.container-two {
  grid-area: Second;
}

.container-three {
  grid-area: Third;
}

.container-four {
  grid-area: Fourth;
}

.container-five {
  grid-area: Fifth;
}

.container-six {
  grid-area: Sixth;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  padding: 79px 135px;
  gap: 28px;
}

.footer-logo img {
  width: 98px;
  height: 35px;
}

.footer-logo p {
  width: 141px;
  height: 52px;
  font-family: "Inter-Regular";
  font-size: 16px;
  line-height: 26px;
  color: #5b5f62;
}

.first-menu h4 {
  width: 91px;
  height: 18px;
  font-family: "Inter-Medium";
  font-size: 18px;
  line-height: 18px;
  color: #2d3134;
  margin-bottom: 22px;
}

.first-menu p {
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 34px;
  color: #676a6c;
}

.second-menu h4 {
  width: 84px;
  height: 18px;
  font-family: "Inter-Medium";
  font-size: 18px;
  line-height: 18px;
  color: #2d3134;
  margin-bottom: 22px;
}

.second-menu p {
  width: 115px;
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 34px;
  color: #676a6c;
}

.third-menu h4 {
  width: 82px;
  height: 18px;
  font-family: "Inter-Medium";
  font-size: 18px;
  line-height: 18px;
  color: #2d3134;
  margin-bottom: 22px;
}

.third-menu p {
  width: 89px;
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 34px;
  color: #676a6c;
}

.forth-menu h4 {
  width: 71px;
  height: 18px;
  font-family: "Inter-Medium";
  font-size: 18px;
  line-height: 18px;
  color: #2d3134;
  margin-bottom: 22px;
}

.fourth-menu p {
  width: 119px;
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 34px;
  color: #676a6c;
}

.menu {
  display: flex;
  flex-direction: row;
  width: 754px;
  height: 176px;
  margin-top: 84px;
  gap: 0px 110px;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 315px;
  gap: 0px 275px;
}
